<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boards">
	<select id="findByBoardsAll" resultType="data.board.Board" >  
		SELECT * FROM BOARDS ORDER BY WRITED DESC
	</select>
</mapper>