<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boards">
	<select id="findByBoardsAll" resultType="data.board.Board" >  
		SELECT * FROM BOARDS ORDER BY WRITED DESC
	</select>
	<insert id="create" parameterType="hashmap">
		INSERT INTO BOARDS (CODE, WRITER, TITLE, BODY, PRICE, IMG, AREA, CITY)
		VALUES (BOARDS_SEQ.NEXTVAL, #{writer}, #{title}, #{body}, #{price}, #{img}, #{area}, #{city} )
	</insert>
	<select id="findByBoardCode" resultType="data.board.Board" parameterType="string">
		SELECT * FROM BOARDS WHERE CODE= #{code}
	</select>
	<update id="updateViewCount" parameterType="string">
		UPDATE BOARDS SET VIEW_COUNT = VIEW_COUNT + 1
		WHERE CODE= #{code}
	</update>
	
	<update id="updateInterestCount" parameterType="hashmap">
		UPDATE BOARDS SET INTERESTED_COUNT = #{count}
		WHERE CODE= #{code}
	</update>
	<select id="countInterested" resultType="int" parameterType="string">
		SELECT COUNT(*) FROM INTERESTED WHERE BOARD_CODE= #{code}
	</select>
	<insert id="createInterest" parameterType="hashmap">
		INSERT INTO INTERESTED 
		VALUES (#{boardCode}, #{userId})
	</insert>
	
	<select id="checkByInterested" resultType="data.interested.Interested" parameterType="hashmap">
		SELECT * FROM INTERESTED WHERE USER_ID= #{userId} AND BOARD_CODE= #{boardCode}
	</select>
	<delete id="deleteInterested" parameterType="hashmap">
		DELETE FROM INTERESTED WHERE USER_ID= #{userId} AND BOARD_CODE= #{boardCode}
	</delete>
	<update id="modify" parameterType="hashmap">
		UPDATE BOARDS SET TITLE= #{title}, BODY= #{body}, PRICE= #{price}, IMG= #{img} WHERE CODE= #{code}
	</update>
	<delete id="delete">
		DELETE FROM BOARDS WHERE CODE= #{code}
	</delete>
</mapper>